doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Home
		link(rel="stylesheet", href="../node_modules/materialize-css/dist/css/materialize.min.css")
		link(rel="stylesheet", href= "css/style.css")

	body.container-fluid
		nav
			div(class="nav-wrapper")
				a(href="index.html",class="brand-logo left")
					div(id="logo")
				ul(id="nav-mobile",class="right hide-on-med-and-down")

		.row.seccion
			.col.m6
				h3 We Are Creative Nerds
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ea repudiandae aliquam eveniet cum aut inventore iusto quis optio quidem perspiciatis eum placeat, asperiores, odio tenetur saepe totam officiis velit!
				button(type="submit").singup Sing up
			.col.m6.montana
				img(src="images/home/slider/birds1.png").mon-img.birds1
				img(src="images/home/slider/birds2.png").mon-img.birds2
				img(src="images/home/slider/sun.png").mon-img.sun
				img(src="images/home/slider/house.png").mon-img.house

		.row.seccion.parrafos
			.parrafo.center
				h5 Incredible Responsive
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, voluptate inventore. Iure, cumque, laudantium.
			.parrafo-centro.center
				h5 Superior Typography
				p Cupiditate hic architecto eum excepturi reiciendis tenetur, soluta.
			.parrafo.center
				h5 Swift Pages Builder
				p Sed nostrum similique, pariatur, temporibus repellendus magnam eveniet. Asperiores, voluptate inventore. Iure, cumque, laudantium.

		.row.marca-agua.seccion
			.right.col.m4.offset-6
				img(src="images/home/tour-icon2.png")

		.seccion.imagenes-home
			.row
				.col.m6
					img(src="images/home/image1.png")
			.row
				.col.m6
					h4 Built for the Responsive Web
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque odit rerum fugiat eligendi nostrum, aperiam exercitationem perferendis earum cupiditate, veniam animi nemo repudiandae tenetur ipsa alias soluta voluptate fuga, pariatur.
				.col.m6
					img(src="images/home/image2.png")
			.row
				.col.m6
					img(src="images/home/image3.png")

		.seccion.container
			.row.center
				img(src="images/home/clients.png")


		.row.center.seccion
			img(src="images/home/under.png")
		footer
			.row
				.col.m3
					h5 Testimonial
				.col.m3.offset-m1
					h5 Contacts
				.col.m5
					h5 Send a message
			.row
				.col.m3
					img(src="images/home/profile1.png")
					img(src="images/home/profile2.png")
				.col.m2
					p
						spam "
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nostrum praesentium doloribus.
						span "
						p -John Kails
					p
						spam "
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nostrum praesentium doloribus.
						span "
						p -Abraham Josef
				.col.m3.offset-m1
					p Email:email@email.com
					p Phone:+1234567890
					p Fax:+2345767890
					h5.h5 Adress
					p UnitC2.St.Vincent's Trading
					p Feeder Road
					p Bristol, B$2 OUY
					p United kingdom
				.col.m3
					form
						input(type="text", placeholder="Name")
						input(type="text", placeholder="Email")
						textarea(placeholder="Your text here")
						button(type="submit") SUBMIT
			.row.center.derechos
				p Your Company 2014. All Rights Reserved
				p Created by Yessica

		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js")
		script(src="../node_modules/jquery/dist/jquery.min.js")
		script(src="../node_modules/materialize-css/dist/js/materialize.min.js")
		script(type="text/javascript", src="template.js")
		script(type="text/javascript", src="handlebars.js")