doctype html
html
	head
		include mixin.jade
		+encabezado("portfolio")
	body
		+navegador()

		h2 Portfolio
		h5 Be creative
		.container
			ul.menu
				li
					img(src="images/portfolio/icon.png")
				li All
				li Brandes
				li Design
				li Folio
				li Logos
				li Mobile
				li Mockup

		section.imagenes-portafolio
			.row
				+proyecto(1, "Sailing Vivamus")
				+proyecto(2, "Vivamus Sailing")
				+proyecto(3, "Sailing Vivamus")
				+proyecto(4, "Vivamus Sailing")
				+proyecto(5, "Sailing Vivamus")
				+proyecto(6, "Vivamus Sailing")
				+proyecto(7, "Sailing Vivamus")
				+proyecto(8, "Vivamus Sailing")
				+proyecto(9, "Sailing Vivamuss")
				+proyecto(10, "Vivamus Sailing")
				+proyecto(11, "Sailing Vivamus")
				+proyecto(12, "Vivamus Sailing")
				+proyecto(13, "Sailing Vivamus")
				+proyecto(14, "Vivamus Sailing")
				+proyecto(15, "Sailing Vivamus")
				+proyecto(16, "Vivamus Sailing")
				+proyecto(17, "Sailing Vivamus")
				+proyecto(18, "Vivamus Sailing")
				+proyecto(19, "Sailing Vivamus")
				+proyecto(20, "Vivamus Sailing")

		.container
			ul.pie-de-pagina
				each val in [1, 2, 3, 4, 5,6,7,8,9]
					li= val

		.row.center.seccion
			img(src="images/home/under.png")

		+pie-pagina()
		+enlaces()
